.keg {
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}



.name {
  display: inline;
  font-size: 3em;
}
.brand {
  display: inline;
}

.belgian-ale {
  background-color: #C33F28;
}

.red-ale {
  background-color: #5A0000;
  color: white;
}

.lager {
  background-color: #F1C352;
}

.stout {
  background-color: #6A4C02;
  color: white;
}

.ipa {
  background-color: #F79200;
}

.other {
  background-color: #5AF700;
}

.sale {
  background-color: green;
  border: 3px solid darkgreen;
}
