@mixin button($color) {
  border: 2px solid darken($color, 50%);
  background-color: $color;
  color: black;
  transition: background-color 200ms;
  &:hover, &:focus, &:active {
    background-color: darken($color, 20%);
  }
}


#logo {
  text-align: center;
  margin: 60px;
}

.keg {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  border: 2px solid black;
  &-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  &-details {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 1.1em;
    font-weight: bold;
  }
  &-sell {
    display: flex;
    text-align: center;
    justify-content: space-around;
    .btn {
      @include button(#9ed6ab);
    }
  }
  &-buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    .btn {
      @include button(#9ed5d6);
    }
  }
}

.alcohol-alert {
  position: absolute;
  top: 10px;
  right: 30px;
  img {
    width: 70px;
  }
}

.name {
  font-size: 3.5em;
  margin: 0;
}
.brand {
  font-size: 1.3em;
  margin: 0;
}

.price, .alcohol, .style, .pints {
  text-align: center;
}

.belgian-ale {
  background-color: #C33F28;
}

.red-ale {
  background-color: #5A0000;
  color: white;
}

.lager {
  background-color: #F1C352;
}

.stout {
  background-color: #6A4C02;
  color: white;
}

.ipa {
  background-color: #F79200;
}

.other {
  background-color: #5AF700;
}

.sale {
  background-color: green;
}
